.navbar {
  background-color: beige;
  padding: 30px;
  height: 100%;
  margin: 5%;
  border-top: 10px beige solid;
  border-bottom: 10px beige solid;
  border-left: 10px beige solid;
  border-right: 10px beige solid; }
  .navbar.navbar a {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 40px; }
    .navbar.navbar a:hover {
      transform: scale(1.1, 1.1); }

.fotos {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  animation-duration: 3s;
  animation-name: random;
  animation-iteration-count: initial; }
  .fotos.fotos img {
    transition: 200ms ease-in-out;
    box-shadow: 0px 0px 5px 2px black; }
    .fotos.fotos img:hover {
      transform: scale(1.2, 1.2); }

.titulo2 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 3.3rem;
  text-align: center;
  padding: 45px;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 0,5; }
  100% {
    opacity: 1; } }

.recibimos {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

.lista {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  list-style-type: none;
  text-align: center;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

.formulario {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  width: 20%; }

.texto, .texto2 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 50px;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

.video {
  width: auto;
  padding: 60px;
  display: flex;
  justify-content: center; }

.titulo3 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 3.3rem;
  text-align: center;
  padding: 45px;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: initial;
  font-size: 3rem; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 0,5; }
  100% {
    opacity: 1; } }

/***************************NOSOTROS***************************/
.table {
  margin: 0 auto;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  align-items: center; }

/***************************TODAS***************************/
body {
  background-color: #B4BF5E; }

.hr {
  border-color: black;
  border-width: 3px;
  border-radius: 3px; }

.encabezado {
  color: black;
  font-family: "Indie Flower", cursive;
  font-size: 130px;
  margin: 0;
  font-weight: bold;
  text-align: center; }

#haciaArriba {
  width: 50px;
  height: 45px;
  position: fixed;
  bottom: 4em;
  right: 3em;
  background-color: #B4BF5E;
  padding: .2em;
  border-radius: 8px; }
  #haciaArriba img {
    width: 100%;
    height: 100%; }

/************************MEDIA QUERRIE TABLET********************************/
@media screen and (max-width: 768px) {
  .fotos {
    margin: 0;
    justify-items: center;
    gap: 40px;
    display: grid;
    padding-bottom: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "foto1" "foto2"; }
    .fotos .fotos img {
      max-width: 60%; }
  .lista {
    padding: 0; }
  .titulo2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 45px; }
  .formulario {
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 50%; }
  .hr {
    border-color: black;
    border-width: 2px;
    border-radius: 2px; }
  .titulo3 {
    font-size: 2rem; } }

/*****GALERIA**********/
.fotosgaleria {
  margin: 0 auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 45px;
  grid-template-areas: "foto1" "foto2"  "foto3"  "foto4" "foto5"  "foto6"; }
  .fotosgaleria .fotosgaleria img {
    max-width: 100%; }

/***************************NOSOTROS***************************/
.tabla {
  margin: 0 auto; }

/************************MEDIA QUERRIE MOBILE********************************/
@media screen and (max-width: 480px) {
  .encabezado {
    font-size: 40px; }
  .fotos {
    gap: 25px;
    display: grid;
    margin: 10%;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-areas: "foto1" "foto2"; }
    .fotos .fotos img {
      max-width: 80%; }
  .texto2 {
    text-align: center; }
  .lista {
    font-size: 15px;
    padding: 0; }
  .formulario {
    margin: 20px;
    width: 50%; }
  .hr {
    border-color: black;
    border-width: 1px;
    border-radius: 1px; }
  .titulo3 {
    font-size: 1rem; }
  .recibimos {
    font-size: 1rem; }
  .video {
    width: auto;
    padding: 60px;
    display: flex;
    justify-content: center; }
  /***************************NOSOTROS***************************/
  .tabla {
    margin: 0 auto;
    font-size: 15px; } }
