/***************************TODAS***************************/
.navbar a{
    color: black;
}

.navbar{
    background-color: beige;
    padding: 30px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 5%;
    border-top: 10px beige solid;
    border-bottom: 10px beige solid;
    border-left: 10px beige solid;
    border-right: 10px beige solid;
}

body{
    background-color: #B4BF5E;
}
.fotos{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;animation-duration: 3s;
    animation-name: random;
    animation-iteration-count: initial;
}
       
.fotos img {
    transition: 200ms ease-in-out;
    box-shadow: 0px 0px 5px 2px black;
}   

.fotos :hover{
    transform: scale(1.2,1.2);
} 
.hr{
    border-color: black;
    border-width: 3px;
    border-radius: 3px;
}
.animate__animated{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 130px;
    margin: 0;
    font-weight: bold;
    text-align: center;    
}

.titulo{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.3rem;
    text-align: center;
    padding: 45px;
}
.titulo{
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0,5;
    }
    100%{
        opacity: 1;
    }
}

.recibimos{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
}
.lista{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    list-style-type: none;
    text-align: center;
}
.formulario{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    width: 20%;
} 

/***************************INDEX***************************/
.titulo2{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    text-align: center;
    padding: 45px;
    
}

/***************************GALERIA***************************/

h3{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 31px;
    text-align: center;   
}  
 
.texto{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 50px;
}

/***************************TARIFAS***************************/
.CALCULA{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-align: center
    }

/***************************NOSOTROS***************************/

.table{
    margin: 0 auto;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    align-items: center;
}
/************************MEDIA QUERRIE TABLET********************************/

@media screen and (max-width:768px){
    .barra{
        color: black;
        padding: 30px;
        border: 10px;
        font-size: 23px;
        border-top: 10px beige solid;
        border-bottom: 10px beige solid;
        border-left: 10px beige solid;
        border-right: 10px beige solid;
        overflow: visible;
        margin: 5%;
    }
    .barra :hover{
        color: white;
    }       
    
    .animate__animated{
        font-size: 70px;
    }
    
    h2{
      font-size: 30px;
    }
    .fotos{
        margin: 0;
        justify-items: center;
        gap: 40px;
        display: grid;
        padding-bottom: 20px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "foto1"
        "foto2";
    } 
    .fotos img {
        max-width: 60%;
    }   
    
    .texto2{
        font-size: 30px;
        
    }
    .titulo{
        font-size: 30px;
    }
    .lista{
        font-size: 20px;
        padding: 0;
    }     
    .titulo2{
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        text-align: center;
        padding: 45px;
        
    }
    .formulario{
        justify-content: center;
        font-size: 15px;
        margin-bottom: 5%;
        margin-top: 5%;
        width: 50%;
    } 
    .hr{
        border-color: black;
        border-width: 2px;
        border-radius: 2px;
    }            
/*****GALERIA**********/
.fotosgaleria{
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(6, 1fr);
    gap: 45px;
    grid-template-areas: 
    "foto1"
    "foto2" 
    "foto3" 
    "foto4"
    "foto5" 
    "foto6";
}
.fotosgaleria .foto {
    width: 80%;
    justify-self: center;
}
        
.fotosgaleria img {
    max-width: 100%;
}
    
h3{
    font-size: 20px;
}  
     
.texto{
    font-size: 20px;
}  
        
/***************************TARIFAS***************************/
.CALCULA{
    font-size: 20px;
}   
.recibimos{
    font-size: 25px;
}
/***************************NOSOTROS***************************/
h5{
    font-size: 30px;
}
.tabla{
    margin: 0 auto;
    font-size: 15px; 
}       
        
/************************MEDIA QUERRIE MOBILE********************************/

@media screen and (max-width:480px){
    .barra{
        color: black;
        padding: 30px;
        border: 20px;
        height: 40px;
        font-size: 20px;
        border-top: 10px beige solid;
        border-bottom: 10px beige solid;
        border-left: 10px beige solid;
        border-right: 10px beige solid;
        overflow: visible;
        margin: 5%;
    }
    .barra :hover{
        color: white;
    }       
    
    .animate__animated{
        font-size: 60px;
    }
    
    h2{
      font-size: 15px;
    }
    .fotos{
        gap: 25px;
        display: grid;
        margin: 10%;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "foto1"
        "foto2";
    } 
    .fotos img{
        max-width: 80%;
    }
    .recibimos{
        font-size: 20px;
    }        
   
    .texto2{
        font-size: 12px;
        text-align: center;
    }
    .titulo{
        font-size: 25px;
    }
    .lista{
        font-size: 10px;
        padding: 0;
    }       
    .formulario{
        font-size: 13px;
        margin: 20px;
        width: 50%;
    } 
    .hr{
        border-color: black;
        border-width: 1px;
        border-radius: 1px;
    }           
/*****GALERIA**********/

  
h3{
    font-size: 20px;
}  
     
.texto{
    font-size: 15px;
}  
        
/***************************TARIFAS***************************/
.CALCULA{
    font-size: 20px;
}   
/***************************NOSOTROS***************************/
h5{
    font-size: 30px;
}
.tabla{
    margin: 0 auto;
    font-size: 15px; 
}       
        
/*****UNIFIQUE TODOS LOS CSS QUE HABIA HECHO POR ERROR, Y PUSE TODAS LAS PAGINAS ENTRE SEPARADORES PARA MAYOR COMPRENSION.
APLIQUE LA PROPIEDAD HOVER SOBRE LAS FOTOS.
UTILICE UNA LISTA EN LA BARRA DE NAVEGACION, ANTES TENIA UNA NAV.
ACOMODE TODAS LAS HTML PARA MEJOR LECTURA DE CODIGO.
APLIQUE FLEXBOX EN LA BARRA DE NAVEGACION Y TAMBIEN UTILICE HOVER PARA QUE CAMBIE CUANDO HAGA OVERFLOW.
REEMPLAZE EL ELEMENTO <H3> POR UN <P>.
APLIQUE LAS MEDIA QUERRIES TANTO PARA TABLET, COMO PARA MOBILE. ME BASÉ EN IPHONE XR Y IPAD MINI.
APLIQUE GRIDS EN LAS IMAGENES. 
EN LAS MEDIA QUERRIES CAMBIE VALORES DE TEXTO, Y DE POSICION EN TODOS ELEMENTOS Y PAGINAS.
APLIQUE ANIMACIONES EN ENCABEZADO, BARRA DE NAVEGACION, IMAGENES Y TITULOS
CREE RAMA CON NOMBRE "ANIMACIONES" 
UNI LA RAMA A LA MASTER. 
MODIFIQUE VALORES EN MEDIA QUERRIES PARA QUE QUEDE RESPONSIVE
APLIQUE BOOSTRAP EN LAS IMAGENES DE LA PAGINA GALERIA.
CORRECCIONES EN MEDIAQUERRIES (FONT-SIZE).
SE AÑADIERON EFECTOS "ANIMATE" EN ENCABEZADO, TITULOS, TEXTOS.
AÑADI OTRO CAROUSEL EN GALERIA PARA QUE QUEDE MAS SIMILAR AL FRAMEWORK, EL TEXTO QUE ESTABA EN GALERIA LO PASE AL INDEX. 
AGREGUE ICONOS DE REDES SOCIALES COMO INDICABA MI FRAMEWORK.
******************/